# 평균(Average) 구하기

## 오늘의 주요 예제

미국에서 판매되는 담배(식물)의 도매가격 데이터를 분석하여, 거래된 도매가의 평균을 구한다.

* 평균값(Mean)
* 중앙값(Median)
* 최빈값(Mode)

### 사용하는 주요 모듈

아래는 통계분석에서 기본적으로 사용되는 모듈들이다.

* pandas: 통계분석 전용 모듈
    * numpy 모듈을 바탕으로 하여 통계분석에 특화된 모듈임.
    * 마이크로소프트의 엑셀처럼 작동하는 기능을 지원함
* datetime: 날짜와 시간을 적절하게 표시하도록 도와주는 기능을 지원하는 모듈
* scipy: 수치계산, 공업수학 등을 지원하는 모듈

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [2]:
from __future__ import print_function, division

## 오늘 사용할 데이터

* 주별 담배(식물) 도매가격 및 판매일자: Weed_price.csv

아래 그림은 미국의 주별 담배(식물) 판매 데이터를 담은 Weed_Price.csv 파일를 엑셀로 읽었을 때의 일부를 보여준다.
실제 데이터량은 22899개이며, 아래 그림에는 5개의 데이터만을 보여주고 있다.
* 주의: 1번줄은 테이블의 열별 목록(column names)을 담고 있다.
* 열별 목록: State, HighQ, HighQN, MedQ, MedQN, LowQ, LowQN, date

<p>
<table cellspacing="20">
<tr>
<td>
<img src="img/weed_price.png", width=600>
</td>
</tr>
</table>
</p>

### csv 파일 불러오기

* pandas 모듈의 read_csv 함수 활용
* read_csv 함수의 리턴값은 DataFrame 이라는 특수한 자료형임
    * 엑셀의 위 그림 모양의 스프레드시트(spreadsheet)라고 생각하면 됨.

언급한 세 개의 csv 파일을 pandas의 read_csv 함수를 이용하여 불러들이자.

**주의**: Weed_Price.csv 파일을 불러들일 때, parse_dates라는 키워드 인자가 사용되었다. 
* parse_dates 키워드 인자: 날짜를 읽어들일 때 다양한 방식을 사용하도록 하는 기능을 갖고 있다.
    * 여기서 값을 [-1]로 준 것은 소스 데이터에 있는 날짜 데이터를 변경하지 말고 그대로 불러오라는 의미이다.
    * 위 엑셀파일에서 볼 수 있듯이, 마지막 열에 포함된 날짜표시는 굳이 변경을 요하지 않는다.

In [3]:
prices_pd = pd.read_csv("data/Weed_Price.csv", parse_dates=[-1])

read_csv 함수의 리턴값은 DataFrame 이라는 자료형이다.

In [4]:
type(prices_pd)

pandas.core.frame.DataFrame

### DataFrame 자료형

불러 들인 Weed_Price.csv 파일의 상위 다섯 줄을 확인해보면, 앞서 엑셀파일 그림에서 본 내용과 일치한다.
다만, 행과 열의 목록이 조금 다를 뿐이다.
* 엑셀에서는 열 목록이 A, B, C, ..., H로 되어 있으며, 소스 파일의 열 목록은 1번 줄로 밀려 있다.
* 엑셀에서의 행 목록은 1, 2, 3, ... 으로 되어 있다.

하지만 read_csv 파일은 좀 다르게 불러 들인다.
* 열 목록은 소스 파일의 열 목록을 그대로 사용한다.
* 행 목록은 0, 1, 2, ... 으로 되어 있다.

데이터 파일의 상위 몇 줄을 불러들이기 위해서는 DataFrame 자료형의 head 메소드를 활용한다.
인자값을 주지 않으면 상위 5줄을 보여준다.

In [5]:
prices_pd.head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01

인자를 주면 원하는 만큼 보여준다.

In [6]:
prices_pd.head(10)

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01
5,Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01
6,Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01
7,Delaware,373.18,347,226.25,273,199.88,34,2014-01-01
8,District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01
9,Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01

파일이 매우 많은 수의 데이터를 포함하고 있을 경우, 맨 뒷쪽 부분을 확인하고 싶으면
tail 메소드를 활용한다. 사용법은 head 메소드와 동일하다.

아래 명령어를 통해 Weed_Price.csv 파일에 22899개의 데이터가 저장되어 있음을 확인할 수 있다.

In [7]:
prices_pd.tail()

               State   HighQ  HighQN    MedQ  MedQN  LowQ  LowQN       date
22894       Virginia  364.98    3513  293.12   3079   NaN    284 2014-12-31
22895     Washington  233.05    3337  189.92   3562   NaN    160 2014-12-31
22896  West Virginia  359.35     551  224.03    545   NaN     60 2014-12-31
22897      Wisconsin  350.52    2244  272.71   2221   NaN    167 2014-12-31
22898        Wyoming  322.27     131  351.86    197   NaN     12 2014-12-31

DataFrame 자료형의 dtypes 속성을 이용하면 열별 목록에 사용된 자료형을 확인할 수 있다.

Weed_Price.csv 파일을 읽어 들인 prices_pd 변수에 저장된 DataFrame 값의 열별 목록에 사용된 자료형을 보여준다.

**주의:** 
* numpy의 array 자료형의 dtype 속성은 하나의 자료형만을 담고 있다.
* 열별 목록에는 하나의 자료형 값들만 올 수 있다.
    즉, 열 하나하나가 넘파이의 array에 해당한다고 볼 수 있다.
* State 목록에 사용된 object 라는 dtype은 문자열이 저장된 위치를 가리키는 포인터를 의미한다.
    * 문자열의 길이를 제한할 수 없기 때문에 문자열을 어딘가에 저장하고 포인터가 그 위치를 가리키며, 
        필요에 따라 포인터 정보를 이용하여 저장된 문자열을 확인한다.
* 마지막 줄에 표시된 "dtype: object"의 의미는 복잡한 데이터들의 자료형이라는 의미로 이해하면 됨.

In [8]:
prices_pd.dtypes

State             object
HighQ            float64
HighQN             int64
MedQ             float64
MedQN              int64
LowQ             float64
LowQN              int64
date      datetime64[ns]
dtype: object

#### 정렬하기

주별로, 날짜별로 데이터를 정렬한다.

In [9]:
prices_pd.sort_values(['State', 'date'], inplace=True)

#### 결측치 채우기

평균을 구하기 위해서는 결측치(채워지지 않은 데이터)를 이전 줄의 데이터를 이용하여 채운다.

앞서 정렬을 먼저 한 이유는, 결측치가 있을 경우 가능하면 동일한 주에서 이전에 거래된 가격을 사용하고자 함이다.

In [10]:
prices_pd.fillna(method='ffill', inplace=True)

정렬된 데이터의 첫 부분은 아래와 같이 알라바마(Alabama) 주의 데이터만 날짜별로 순서대로 보인다.

In [11]:
prices_pd.head()

         State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20094  Alabama  339.65    1033  198.04    926  147.15    122 2013-12-27
20859  Alabama  339.65    1033  198.04    926  147.15    122 2013-12-28
21573  Alabama  339.75    1036  198.26    929  149.49    123 2013-12-29
22287  Alabama  339.75    1036  198.81    930  149.49    123 2013-12-30
22797  Alabama  339.42    1040  198.68    932  149.49    123 2013-12-31

정렬된 데이터의 끝 부분은 아래와 같이 요밍(Wyoming) 주의 데이터만 날짜별로 순서대로 보인다.

In [12]:
prices_pd.tail()

        State   HighQ  HighQN    MedQ  MedQN   LowQ  LowQN       date
4997  Wyoming  313.72     148  317.38    226  161.3     13 2015-06-07
5762  Wyoming  313.72     148  317.38    226  161.3     13 2015-06-08
6527  Wyoming  313.72     148  317.38    226  161.3     13 2015-06-09
7343  Wyoming  313.72     148  317.38    226  161.3     13 2015-06-10
8159  Wyoming  313.72     148  317.38    226  161.3     13 2015-06-11

## 평균 구하기

캘리포니아 주를 대상으로해서 담배(식물) 도매가의 평균(average)을 구해본다.

### 평균값(Mean)

* 평균값 = 모든 값들의 합을 값들의 개수로 나누기
    * $X$: 데이터에 포함된 값들을 대변하는 변수
    * $n$: 데이터에 포함된 값들의 개수
    * $\Sigma\, X$: 데이터에 포함된 모든 값들의 합

$$\text{평균값}(\mu) = \frac{\Sigma\, X}{n}$$

마스크 인덱스를 이용하여 캘리포니아 주의 데이터만 추출한다.

In [13]:
california_pd = prices_pd[prices_pd.State == "California"].copy(True)

캘리포니아 주에서 거래된 첫 5개의 데이터를 확인해보자.

In [14]:
california_pd.head()

            State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20098  California  248.77   12021  193.44  12724  193.88    770 2013-12-27
20863  California  248.74   12025  193.44  12728  193.88    770 2013-12-28
21577  California  248.76   12047  193.55  12760  193.60    772 2013-12-29
22291  California  248.82   12065  193.54  12779  193.80    773 2013-12-30
22801  California  248.76   12082  193.54  12792  193.80    773 2013-12-31

HighQ 열 목록에 있는 값들의 총합을 구해보자.

In [15]:
ca_sum = california_pd['HighQ'].sum()
ca_sum

110173.87999999998

HighQ 열 목록에 있는 값들의 개수를 확인해보자.

In [16]:
ca_count = california_pd['HighQ'].count()
ca_count

449

이제 캘리포니아 주에서 거래된 HighQ의 담배가격의 평균값을 구할 수 있다.

In [17]:
ca_mean = ca_sum / ca_count
print("캘리포니아 주에서 거래된 HighQ의 평균값 =", ca_mean)

캘리포니아 주에서 거래된 HighQ의 평균값 = 245.376124722

### 중앙값(Median)

캘리포니아 주에서 거래된 HighQ의 담배가격의 중앙값을 구하자.

* 중앙값 = 데이터를 크기 순으로 정렬하였을 때 가장 가운데에 위치한 수
    * 데이터의 크기 n이 홀수일 때: $\frac{n+1}{2}$번 째 위치한 데이터
    * 데이터의 크기 n이 짝수일 때: $\frac{n}{2}$번 째와 $\frac{n}{2}+1$번 째에 위치한 데이터들의 평균값

여기서는 데이터의 크기가 449로 홀수이다.

In [18]:
ca_count

449

따라서 중앙값은 $\frac{\text{ca_count}-1}{2}$번째에 위치한 값이다.

**주의:** 인덱스는 0부터 출발한다. 따라서 중앙값이 하나 앞으로 당겨진다.

In [19]:
ca_highq_pd = california_pd.sort_values(['HighQ'])
ca_highq_pd.head()

            State   HighQ  HighQN    MedQ  MedQN   LowQ  LowQN       date
19027  California  241.84   18419  187.90  21965  188.6   1229 2015-05-26
19741  California  241.85   18450  187.90  21993  188.6   1231 2015-05-27
8011   California  241.87   18066  188.86  21561  188.6   1212 2015-05-11
8827   California  241.87   18073  188.89  21584  188.6   1213 2015-05-12
18313  California  241.88   18398  187.85  21949  188.6   1228 2015-05-25

인덱스 로케이션 함수인 `iloc` 함수를 활용한다.

In [20]:
ca_median = ca_highq_pd.HighQ.iloc[int((ca_count)/ 2)]
print("캘리포니아에서 거래된 HighQ 도매가의 중앙값은", ca_median, "달러이다.")

캘리포니아에서 거래된 HighQ 도매가의 중앙값은 245.31 달러이다.

### 최빈값(Mode)

캘리포니아 주에서 거래된 HighQ의 담배가격의 최빈값을 구하자.

* 최빈값 = 가장 자주 발생한 데이터

In [21]:
ca_mode = ca_highq_pd.HighQ.value_counts().index[0]
print("캘리포니아 주에서 가장 빈번하게 거래된 HighQ 도매가는", ca_mode, "달러이다.")

캘리포니아 주에서 가장 빈번하게 거래된 HighQ 도매가는 245.05 달러이다.

## 연습문제

### 연습

지금까지 구한 평균값, 중앙값, 최빈값을 구하는 함수가 이미 DataFrame과 Series 자료형의 메소드로 구현되어 있다.

In [22]:
california_pd.mean().HighQ

245.3761247216035

In [23]:
type(california_pd.HighQ)

pandas.core.series.Series

In [24]:
california_pd.median().HighQ

245.31

In [25]:
california_pd.mean().HighQ

245.3761247216035

In [26]:
california_pd.HighQ.mean()

245.3761247216035

In [27]:
california_pd.HighQ.median()

245.31

In [28]:
california_pd.HighQ.mode()

0    245.03
1    245.05
dtype: float64

### 연습 

캘리포니아 주에서 2013년, 2014년, 2015년에 거래된 HighQ의 담배(식물) 도매가격의 평균을 각각 구하라.

**힌트:** `california_pd.iloc[0]['date'].year`

견본답안: 2014년에 거래된 도매가의 평균값을 아래와 같이 계산할 수 있다.

* sum 변수: 2014년도에 거래된 도매가의 총합을 담는다.
* count 변수: 2014년도의 거래 횟수를 담는다.

In [29]:
sum = 0
count = 0

for index in np.arange(len(california_pd)):
    if california_pd.iloc[index]['date'].year == 2014:
        sum += california_pd.iloc[index]['HighQ']
        count += 1
sum/count

245.8942307692308

아래와 같은 방식을 이용하여 인덱스 정보를 구하여 슬라이싱 기능을 활용할 수도 있다.

In [30]:
years = np.arange(2013, 2016)
starts = [0]

for y in years:
    for index in np.arange(starts[-1], len(california_pd)):
        if california_pd.iloc[index]['date'].year == y:
            continue
        else:
            starts.append(index)
            break

starts

[0, 5, 369]

5번줄부터 2014년도 거래가 표시된다.

In [31]:
california_pd.iloc[4]

State              California
HighQ                  248.76
HighQN                  12082
MedQ                   193.54
MedQN                   12792
LowQ                    193.8
LowQN                     773
date      2013-12-31 00:00:00
Name: 22801, dtype: object

In [32]:
california_pd.iloc[5]

State              California
HighQ                  248.78
HighQN                  12096
MedQ                   193.56
MedQN                   12812
LowQ                   192.92
LowQN                     778
date      2014-01-01 00:00:00
Name: 4, dtype: object

369번줄부터 2015년도 거래가 표시된다.

In [33]:
california_pd.iloc[368]

State              California
HighQ                  243.96
HighQN                  16501
MedQ                   189.38
MedQN                   19140
LowQ                    188.6
LowQN                    1094
date      2014-12-31 00:00:00
Name: 22852, dtype: object

In [34]:
california_pd.iloc[369]

State              California
HighQ                  243.96
HighQN                  16512
MedQ                   189.35
MedQN                   19151
LowQ                    188.6
LowQN                    1096
date      2015-01-01 00:00:00
Name: 55, dtype: object